<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="vMixIp" value="192.168.1.82"/>
		<add key="vMixPort" value="8088"/>
		<add key="vMixInput" value="1"/>
		<add key="vMixSelectedIndex" value="0"/>
		<add key="LyricsIp" value="192.168.1.82"/>
		<add key="LyricsPort" value="4316"/>
	</appSettings>

</configuration>